body{
  background:url(https://cdn.pixabay.com/photo/2016/12/29/18/44/background-1939128_960_720.jpg);
  background-size:90%;
}
.textOnSquare{
  opacity: 0.7;
  position: absolute;
  font-family: Comic Sans MS;
	font-size: 20px;
	color: #FFFFFF;
	text-shadow:
		-0   -2px 1px #000000,
		 0   -2px 1px #000000,
		-0    2px 1px #000000,
		 0    2px 1px #000000,
		-2px -0   1px #000000,
		 2px -0   1px #000000,
		-2px  0   1px #000000,
		 2px  0   1px #000000,
		-1px -2px 1px #000000,
		 1px -2px 1px #000000,
		-1px  2px 1px #000000,
		 1px  2px 1px #000000,
		-2px -1px 1px #000000,
		 2px -1px 1px #000000,
		-2px  1px 1px #000000,
		 2px  1px 1px #000000,
		-2px -2px 1px #000000,
		 2px -2px 1px #000000,
		-2px  2px 1px #000000,
		 2px  2px 1px #000000,
		-2px -2px 1px #000000,
		 2px -2px 1px #000000,
		-2px  2px 1px #000000,
		 2px  2px 1px #000000;
}
.textOnSquare:hover{
  opacity: 1;
  transform: scale(1.2);
}
#redSquare{
  position: absolute;
  left:0px ;
  top:200px ;
  width:1536px ;
  height:50px;
  background-color: #960000;
}
#fatlisp{
  opacity: 0.5;
  position: absolute;
  left:550px ;
  top:-30px ;
  font-family: Comic Sans MS;
	font-size: 96px;
	color: #FFFFFF;
	text-shadow:
		-0   -2px 1px #000000,
		 0   -2px 1px #000000,
		-0    2px 1px #000000,
		 0    2px 1px #000000,
		-2px -0   1px #000000,
		 2px -0   1px #000000,
		-2px  0   1px #000000,
		 2px  0   1px #000000,
		-1px -2px 1px #000000,
		 1px -2px 1px #000000,
		-1px  2px 1px #000000,
		 1px  2px 1px #000000,
		-2px -1px 1px #000000,
		 2px -1px 1px #000000,
		-2px  1px 1px #000000,
		 2px  1px 1px #000000,
		-2px -2px 1px #000000,
		 2px -2px 1px #000000,
		-2px  2px 1px #000000,
		 2px  2px 1px #000000,
		-2px -2px 1px #000000,
		 2px -2px 1px #000000,
		-2px  2px 1px #000000,
		 2px  2px 1px #000000;
}
#textGlavnaya{
  left:200px ;
  top:-8px ;
}
#textVideo{
  left:580px ;
  top:-8px ;
}
#textNovosti{
  left:880px ;
  top:-8px ;
}
#textAboutUs{
  right:200px;
  top:-8px ;
}
#Video1{
  position: absolute;
  left: ;
  width: 400px;
  top:70px;
}
#Video2{
  position: absolute;
  left: ;
  top:320px;
  width: 400px;
}
#Video3{
  position: absolute;
  right:0px ;
  top:70px;
  width: 400px;
}
#Video4{
  position: absolute;
  right:0px ;
  top:320px;
  width: 400px;
}
 #shapka{
  position: absolute;
  left:407 ;
  top: 100;
  width: 720;
}
#buttonSub{
  position: absolute;
  left:987   ;
  top: 242;
  opacity: 0.5;
}
#fonar1{
  position: absolute;
  left:100 ;
  top: -120;
  width:100;
  animation: lightfonar 3s ease infinite;
}
#fonar2{
  position: absolute;
  right:100 ;
  top: -120;
  width:100;
  animation: lightfonar 3s ease infinite;
}
@keyframes lightfonar {
  from{
    opacity: 1;
    scale(1);
  }
  50%{
    opacity: 0;
  }
  to{
    scale(0.6);
    opacity: 1;
  }
}
#buttonSub:hover{
   transform: scale(1.2);
   opacity: 1;
}
#fatlisp:hover{
  opacity: 1;
}
#Подпишись{
  position: absolute;
  left:470px ;
  top:230px ;
  font-family: Comic Sans MS;
	font-size: 96px;
	color: #FFFFFF;
	text-shadow:
		-0   -2px 1px #000000,
		 0   -2px 1px #000000,
		-0    2px 1px #000000,
		 0    2px 1px #000000,
		-2px -0   1px #000000,
		 2px -0   1px #000000,
		-2px  0   1px #000000,
		 2px  0   1px #000000,
		-1px -2px 1px #000000,
		 1px -2px 1px #000000,
		-1px  2px 1px #000000,
		 1px  2px 1px #000000,
		-2px -1px 1px #000000,
		 2px -1px 1px #000000,
		-2px  1px 1px #000000,
		 2px  1px 1px #000000,
		-2px -2px 1px #000000,
		 2px -2px 1px #000000,
		-2px  2px 1px #000000,
		 2px  2px 1px #000000,
		-2px -2px 1px #000000,
		 2px -2px 1px #000000,
		-2px  2px 1px #000000,
		 2px  2px 1px #000000;
}
.textInAboutUs{
  padding: 1em;
  position: absolute;
  font-family: Comic Sans MS;
	font-size: 30px;
	color: #FFFFFF;
	text-shadow:
		-0   -2px 1px #000000,
		 0   -2px 1px #000000,
		-0    2px 1px #000000,
		 0    2px 1px #000000,
		-2px -0   1px #000000,
		 2px -0   1px #000000,
		-2px  0   1px #000000,
		 2px  0   1px #000000,
		-1px -2px 1px #000000,
		 1px -2px 1px #000000,
		-1px  2px 1px #000000,
		 1px  2px 1px #000000,
		-2px -1px 1px #000000,
		 2px -1px 1px #000000,
		-2px  1px 1px #000000,
		 2px  1px 1px #000000,
		-2px -2px 1px #000000,
		 2px -2px 1px #000000,
		-2px  2px 1px #000000,
		 2px  2px 1px #000000,
		-2px -2px 1px #000000,
		 2px -2px 1px #000000,
		-2px  2px 1px #000000,
		 2px  2px 1px #000000;
}
#disqus_thread{
  position: absolute;
  top:1500px;
  width:1470px;
  margin-left: 20px;
  margin-top: 20px;
}
#news1{
  position: absolute;
  top: 70px;
}
#news2{
padding-bottom: 10px;
}
